.dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #BB4B9F;
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s;
}

.dotFather {
    position: absolute;
}

.user {
    color: #C9B1FF;
    position: absolute;
}

.dot:hover {
    opacity: 0.8;
}